arrOpts = {};
arrOpts["00"] = "Universal";
arrOpts["01"] = "%NEXUS%";
arrOpts["02"] = "Classic mode";
arrOpts["03"] = "T";
arrOpts["04"] = "R";
arrOpts["05"] = "Minimal";
ExecuteAFile("%HYPHY_PATH%/TemplateBatchFiles/SelectionAnalyses/RELAX.bf", arrOpts);
